

    <div class="container">
        <div class="row text-center ">
            <div class="col-sm-12">
                <div class="row align-items-center justify-content-center" style="background-color: #17A2B8; border-radius: 5px; padding: 3px; font-size:20px; height: 60px;">
                    <div class="col-sm-9 " style="color: white;">
                        <h1>BIENVENIDO</h1>
                    </div>  
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row text-center ">
            <div class="col-sm-12">
                <div class="row align-items-center justify-content-center" >
                    <div class="col-sm-9 " style="color: white;">
                        <img src="~/Media/Img/NewLogo.png" class=" img-fluid" style="width:70%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(function () {
        Session();
    })
</script>