
<div class="container">
    <div class="row text-center ">
        <div class="col-lg-12">
            <div class="row align-items-center" style="background-color: #17A2B8; border-radius:25px; padding: 3px; font-size:20px; height: 60px;">
                <div class="col-md-9 " style="color: white; margin-left:90px">
                    <h1>Baja de usuarios</h1>
                </div>
            </div>
        </div>
    </div>
    
</div>
<br />
<form>
    <h2 class="text-center">Ingrese RFC del ejecutivo que se dará de baja</h2>
    <br />
    <div class="row justify-content-center">
        <div class="input-group col-sm-4">
            <input class="form-control py-2 text-uppercase font-weight-bold text-center" type="search" placeholder="RFC" id="RFCBaja" maxlength="10" />
            <span class="input-group-append">
                <button class="btn btn-outline-secondary" id="Buscar" type="button" style="background-color: aliceblue;" onclick="BajaOperacional()">
                    <i class="fas fa-trash-alt" style="color:cornflowerblue"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<script>
    $(function () {
        Session();
    })
</script>