
@{
    Layout = null;
}

< <div id="cursos">

    <h3 style="color: steelblue; font: bold; text-align: center;">CURSOS APLICADOS</h3><br />

    <hr />
    <div id="cursosApli" class="row text-center justify-content-center">

    </div>



</div>