

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12" style="background-color: #17A2B8; border-radius: 5px; padding: 3px; font-size:20px; height: 60px;">
            <div class="col-sm-12 text-center" style="color: white;">
                <h1>CANYRET</h1>
            </div>
        </div>
    </div>
</div>
