
@{
    ViewBag.Title = "RegistrarEmpleado";
}


<div class="container">
    <div class="row text-center ">
        <div class="col-sm-12">
            <div class="row align-items-center" style="background-color: #17A2B8; border-radius: 5px; padding: 3px; font-size:20px; height: 60px;">
                <div class="col-sm-9 " style="color: white;">
                    <h1 id="tituloEmpleado">Agregar Empleado</h1>
                </div>
                <div class="col-sm-2">
                    <button type="button" id="Buscar" class="btn btn-dark" onclick="BuscarCampos()"> <i class="fas fa-search" style="color:#fff;padding-right: 6px"></i>Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <form>
        <!--Datos buscar empleado-->
        <div id="datosBuscarEmp" class="row text-center justify-content-center" hidden>
            <div class="col-md-11">
                <div class="panel panel-info">

                    <div class="row align-items-center" style="background-color: steelblue; border-radius: 5px; padding: 3px; font-size:20px;">
                        <div class="col-md-11" style="color:white">
                            Busqueda de empleado
                        </div>
                        <div class="col-md-1" style="color: white;">
                            <span data-bs-toggle="collapse" class="col-md-1" href="#collapse5" style="cursor: pointer;color: white; padding-right: 5px">&#9776;</span>
                        </div>
                    </div>
                    <div class="collapse panel-collapse in" id="collapse5">
                        <div class="panel-body">
                            <div class="row align-items-center">

                                <div class="col-md-2 form-group">
                                    <label>No. de empleado </label>
                                    <input type="text" class="form-control" id="NumeroEmpleadob" onkeypress="return numeros(event)" maxlength="30">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Apellido Paterno</label>
                                    <input type="text" class="form-control" id="APaternob" onkeypress="return letras(event)" maxlength="30">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Apellido Materno </label>
                                    <input type="text" class="form-control" id="AMaternob" onkeypress="return letras(event)" maxlength="30">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label> Primer Nombre </label>
                                    <input type="text" class="form-control" id="Nombre_1b" onkeypress="return letras(event)" maxlength="30">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Segundo Nombre</label>
                                    <input type="text" class="form-control" id="Nombre_2b" onkeypress="return letras(event)" maxlength="30">
                                    <input id="id_Empleadob" hidden />
                                </div>

                                <div class="col-md-1 form-group">
                                    <span class="input-group-append">
                                        <button class="btn btn-outline-secondary" id="Buscar" type="button" style="background-color: aliceblue; margin-top:30px" onclick="cargarBuscarEmpleados()">
                                            <i class="fas fa-search" style="color:cornflowerblue"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-md-6 form-group" style="margin-left:260px;">
                                    <label>Resultados </label>
                                    <select id="ResultadoB" class="form-control" onchange="SeleccionaEmpleadoBus()">
                                        <!--Select buscar empleado-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />



        <!--Datos personales-->
        <div class="row text-center justify-content-center">
            <div class="col-md-11">
                <div class="panel-info">

                    <div class="row align-items-center" style="background-color: steelblue; border-radius: 5px; padding: 3px; font-size:20px;">
                        <div class="col-md-11" style="color: white">
                            Datos personales
                        </div>
                        <div class="col-md-1" style="color:white;">
                            <span data-bs-toggle="collapse" class="col-md-1" href="#collapse" style="cursor: pointer;color: white; padding-right: 5px">&#9776;</span>
                        </div>
                    </div>

                    <div id="collapse" name="datosp" class="collapse panel-collapse in">
                        <div class="panel-body">

                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Apellido Paterno <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="APaterno" name="obg" onkeypress="return letras(event)" maxlength="30">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Apellido Materno <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="AMaterno" name="obg" onkeypress="return letras(event)" maxlength="30">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label> Primer Nombre <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="Nombre_1" name="obg" onkeypress="return letras(event)" maxlength="30">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Segundo Nombre</label>
                                    <input type="text" class="form-control" id="Nombre_2" onkeypress="return letras(event)" maxlength="30">
                                    <input id="id_Empleado" hidden />
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Fecha de nacimiento <strong style="color:red">*</strong></label>
                                    <input type="text" placeholder="yyyy/mm/dd" class="form-select" id="FNacimiento" name="obg" onchange="CalcularEdad()" />
                                </div>
                                <div class="col-md-3 form-group" id="divEdad">
                                    <label>Edad</label>
                                    <input type="text" class="form-control" id="Edad" onkeypress="return numeros(event)" maxlength="2" />
                                </div>
                                <div class=" col-md-3 form-group">
                                    <label for="Genero">Genero <strong style="color:red">*</strong></label>
                                    <select class="form-select" id="Genero" name="obg">
                                        <!--Catalogo genero-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Número del seguro social </label>
                                    <input type="text" class="form-control" id="IMSS" maxlength="20" onkeypress="return numeros(event)" />
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>CURP </label>
                                    <input type="text" class="form-control" id="CURP" onkeyup="mayus1(this);" pattern="[A-Z0-9]" maxlength="18" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>RFC </label>
                                    <input type="text" class="form-control" id="RFC" onkeyup="mayus1(this);" pattern="[A-Z0-9]" maxlength="10" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Homoclave</label>
                                    <input type="text" class="form-control" id="Homoclave" onkeyup="mayus1(this);" pattern="[A-Z0-9] " maxlength="3" min="3" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Teléfono de casa</label>
                                    <input type="text" class="form-control" id="TelefonoFijo" maxlength="10" min="10" onkeypress="return numeros(event)" />
                                </div>

                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Télefono celular</label>
                                    <input type="text" class="form-control" id="TelefonoMovil" maxlength="10" min="10" onkeypress="return numeros(event)" />
                                </div>

                                <div class="col-md-3 form-group">
                                    <label>Télefono celular 2</label>
                                    <input type="text" class="form-control" id="Celular2" maxlength="10" min="10" onkeypress="return numeros(event)" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="EstadoCivil">Estado civil </label>
                                    <select class="form-select" id="EstadoCivil">
                                        <!--Catalogo del Estado civil-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Hijos</label>
                                    <input type="text" class="form-control" id="Hijos" onkeypress="return numeros(event)" maxlength="1" onchange="ModalHijos()" />
                                </div>

                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label for="UltimoGradoDeEstudios">Ultimo grado de estudios </label>
                                    <select class="form-select" id="UltimoGradoDeEstudios" onchange="OtroEstudio()">
                                        <!--Catalogo de grado de estudios-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group" id="Div_OtroGrado" hidden>
                                    <label>Otro Grado</label>
                                    <input type="text" class="form-control" id="OtroGrado" maxlength="50" name="otro" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Especialidad</label>
                                    <input type="text" class="form-control" id="Especialidad" maxlength="50" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Titulo Obtenido </label>
                                    <input type="text" class="form-control" id="TituloObtenido" maxlength="50" />
                                </div>

                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Calle <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="Calle" maxlength="30" name="obg" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Número <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="Numero" maxlength="30" name="obg" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Colonia <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="Colonia" maxlength="30" name="obg" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Delegacion</label>
                                    <input type="text" class="form-control" id="Delegacion" maxlength="30" />
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-3 form-group">
                                    <label>Ciudad <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="Ciudad" maxlength="30" name="obg" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>CP </label>
                                    <input type="text" class="form-control" id="CP" maxlength="10" onkeypress="return numeros(event)" />
                                </div>
                            </div>

                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Enfermedad </label>
                                    <select class="form-select" id="Enfermedad" onchange="Definir_Enfermedad()">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="Hipertencion Arterial y/o Pulmonar">Hipertencion Arterial y/o Pulmonar</option>
                                        <option value="Insuficiencia Renal">Insuficiencia Renal</option>
                                        <option value="Lupus">Lupus</option>
                                        <option value="Cancer">Cancer</option>
                                        <option value="Diabetes">Diabetes</option>
                                        <option value="Mellitus">Mellitus</option>
                                        <option value="Obesidad">Obesidad</option>
                                        <option value="Insuficiencia Hepatica o Metabolica">Insuficiencia Hepatica o Metabolica</option>
                                        <option value="Enfermedad Cardiaca">Enfermedad Cardiaca</option>
                                        <option value="otra">Otra Cual?</option>
                                        <option value="Ninguna">Ninguna</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group" id="Div_OtraEnfermedad" hidden>
                                    <label>Otra enfermedad</label>
                                    <input class="form-control" id="OtraEnfermedad" onkeypress="return letras(event)" name="otro" />
                                </div>
                                <div class=" col-md-3 form-group">
                                    <label for="inputsm">Alergias a medicamento </label>
                                    <select class="form-select input-sm" id="Alergias" onchange="Alergia()">
                                        <option value="0">Seleccione</option>
                                        <option value="Si">Si ¿Cuál?</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group" id="Div_Alergia" hidden>
                                    <label>¿Cuál?</label>
                                    <input class="form-control" id="AlregiaC" name="otro" />
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Contacto Emergencia 1 </label>
                                    <input class="form-control" id="ContactoEmergencia1" onkeypress="return letras(event)" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Telefono Emergencia 1 </label>
                                    <input class="form-control" id="TelefonoEmergencia1" onkeypress="return numeros(event)" maxlength="10" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Contacto Emergencia 2 </label>
                                    <input class="form-control" id="ContactoEmergencia2" onkeypress="return letras(event)" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Telefono Emergencia 2 </label>
                                    <input class="form-control" id="TelefonoEmergencia2" onkeypress="return numeros(event)" maxlength="10" />
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-3 form-group">
                                    <label>Pasatiempo favorito </label>
                                    <input id="PasatiempoFav" class="form-control" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Deporte Favorito </label>
                                    <input id="DeporteFav" class="form-control" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Talento </label>
                                    <select id="Talento" class="form-select" onchange="DefinirTalento()">
                                        <option value="0" selected>Seleccione</option>
                                        <option value="Bailar">Bailar</option>
                                        <option value="Dibujar">Dibujar</option>
                                        <option value="Cantar">Cantar</option>
                                        <option value="Tocar instrumento">Tocar instrumento ¿Cuál?</option>
                                        <option value="Rapear">Rapear</option>
                                        <option value="otro">Otro</option>
                                        <option value="Ninguno">Ninguno</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group" id="Div_Instrumento" hidden>
                                    <label>¿Qué instrumento?</label>
                                    <input id="Instrumento" class="form-control" />
                                </div>
                                <div class="col-md-3 form-group" id="Div_OtroTalento" hidden>
                                    <label>Otro talento</label>
                                    <input id="OtroTalento" class="form-control" name="otro" />
                                </div>
                            </div>
                            @*<div class="row align-items-center">
                                
                            </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Termina datos personales-->
        <br />
        <!--Datos laborales-->
        <div class="row text-center justify-content-center">
            <div class="col-md-11">
                <div class="panel panel-info">


                    <div class="row align-items-center" style="background-color: steelblue; border-radius: 5px; padding: 3px; font-size:20px;">
                        <div class="col-md-11" style="color: white">
                            Datos laborales
                        </div>
                        <div class="col-md-1" style="color:white;">
                            <span data-bs-toggle="collapse" class="col-md-1" href="#collapse2" style="cursor: pointer;color: white; padding-right: 5px">&#9776;</span>
                        </div>
                    </div>

                    <div id="collapse2" class="collapse panel-collapse in">
                        <div class="panel-body">
                            <div class="row align-items-sm-center">
                                <div class="col-md-3 form-group" id="divNumeroEmpleado">
                                    <label for="inputsm">Numero Empleado <strong style="color:red">*</strong></label>
                                    <input class="form-control input-sm" id="NumeroEmpleado" onkeypress="return numeros(event)" type="text" name="obg">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Site </label>
                                    <select class="form-control" id="Site">
                                        <!--Catalogo Sites-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Turno <strong style="color:red">*</strong></label>
                                    <Select class="form-control" id="Turno" name="obg">
                                        <!--Catalogo Turno-->
                                    </Select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Reclutador </label>
                                    <select class="form-control" id="Recluto">
                                        <!--Select de proveedores-->
                                    </select>
                                </div>

                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Dirección </label>
                                    <select class="form-control" id="Direccion" onchange="SelectDinamicoDireccion()">
                                        <!--catalogo de direccion-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Departamento/Campaña </label>
                                    <select class="form-control" id="Departamento" onchange="SelectCampania()">
                                        <option value="0">Seleccione</option>
                                        <!--select dinamico dependiente de catalogo de direccions-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Campaña</label>
                                    <select class="form-control" id="Campania" disabled>
                                        <!--Select de las campañas-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group" id="divEstatus" hidden>
                                    <label for="inputsm">Estatus</label>
                                    <Select class="form-control" id="Estatus">
                                        <!--Catalogo Estatus-->
                                    </Select>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Puesto <strong style="color:red">*</strong></label>
                                    <Select class="form-control" id="Puesto" name="obg">
                                        <!--Catalogo Puestos-->
                                    </Select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Fuente de reclutamiento </label>
                                    <Select class="form-control" id="FuenteReclutamiento">
                                        <!--Catalogo de Fuente de reclutamiento-->
                                    </Select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Elaboro contrato </label>
                                    <select class="form-control" id="ElaboroContrato">
                                        <!--Select de empleados-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Diagnostico </label>
                                    <select class="form-control" id="Diagnostico">
                                        <!--Diagnostico-->
                                    </select>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group" id="divCapturaPlantilla" hidden>
                                    <label for="inputsm">Captura plantilla </label>
                                    <select class="form-control" id="CapturaPlantilla" disabled>
                                        <!--Select de empleados-->
                                    </select>
                                </div>
                                <div class=" col-md-3 form-group">
                                    <label for="inputsm">Pimer empleo </label>
                                    <select class="form-control input-sm" id="PrimerEmpleo">
                                        <!--catalogo sino-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Experiencia en call center </label>
                                    <Select class="form-control" id="ExperienciaCallCenter">
                                        <!--Catalogo sino-->
                                    </Select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Fecha ingreso <strong style="color:red">*</strong></label>
                                    <input class="form-control" id="FIngreso" type="text" name="obg">
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Fecha de alta IMSS</label>
                                    <input class="form-control " id="FAltaIMSS" type="text" maxlength="20">
                                </div>
                                <div class="col-md-3 form-group" id="divFInsercion" hidden>
                                    <label for="inputsm">Fecha inserción</label>
                                    <input class="form-control " id="FInsercion" type="text" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Termina datos laborales-->
        <br />
        <!--Datos bancarios-->
        <div class="row text-center justify-content-center">
            <div class="col-md-11">
                <div class="panel panel-info">

                    <div class="row align-items-center" style="background-color: steelblue; border-radius: 5px; padding: 3px; font-size:20px;">
                        <div class="col-md-11" style="color: white">
                            Datos bancarios
                        </div>
                        <div class="col-md-1" style="color:white;">
                            <span data-bs-toggle="collapse" class="col-md-1" href="#collapse3" style="cursor: pointer;color: white; padding-right: 5px">&#9776;</span>
                        </div>
                    </div>

                    <div class="collapse panel-collapse in" id="collapse3">
                        <div class="panel-body">
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Banco</label>
                                    <select class="form-control" id="Banco">
                                        <!--Catalogo banco-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Número de cuenta </label>
                                    <input type="text" id="NumeroCuenta" class="form-control" maxlength="18" onkeypress="return numeros(event)" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>CLABE </label>
                                    <input type="text" id="CLABE" class="form-control" maxlength="18" onkeypress="return numeros(event)" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Sueldo Diario <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" onkeypress="return numeros_Sueldo(event)" id="SueldoDiario" name="obg" />
                                </div>
                            </div>
                            <div class="row align-content-center justify-content-center">
                                <div class="col-md-3 form-group">
                                    <label>Tipo de Nomina</label>
                                    <select id="TipoNomina" class="form-control" onchange="Tipo_Nomina()">
                                        <option value="0">Seleccione</option>
                                        <option value="IMSS">IMSS</option>
                                        <option value="ASIMILADOS">ASIMILADOS</option>
                                        <option value="AMBAS">AMBAS</option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group" id="Div_Asimilados" hidden>
                                    <label>Sueldo de Asimilados <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="Sdo_Diario_Asimilados" onkeypress="return numeros_Sueldo(event)">
                                </div>
                                <div class="col-md-3 form-group" id="Div_IMSS" hidden>
                                    <label> Sueldo de IMSS <strong style="color:red">*</strong></label>
                                    <input type="text" class="form-control" id="Sdo_Diario_IMSS" onchange="calcularSalario()" onkeypress="return numeros_Sueldo(event)">
                                </div>
                                <div class="col-md-3 form-group" id="Div_Sueldo_Quinc" hidden>
                                    <label> Sueldo Quincenal</label>
                                    <input type="text" disabled class="form-control" id="Sdo_Quincenal" onkeypress="return numeros_Sueldo(event)">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Termina datos bancarios-->
        <br />

        <!--Datos Patrimoniales-->
        <div class="row text-center justify-content-center">
            <div class="col-md-11">
                <div class="panel panel-info">

                    <div class="row align-items-center" style="background-color: steelblue; border-radius: 5px; padding: 3px; font-size:20px;">
                        <div class="col-md-11" style="color: white">
                            Datos patrimoniales
                        </div>
                        <div class="col-md-1" style="color:white;">
                            <span data-bs-toggle="collapse" class="col-md-1" href="#collapse5" style="cursor: pointer;color: white; padding-right: 5px">&#9776;</span>
                        </div>
                    </div>

                    <div class="collapse panel-collapse in" id="collapse5">
                        <div class="panel-body">
                            <div class="row align-items-center">

                                <div class="col-md-3 form-group">
                                    <label>Crédito Infonavit </label>
                                    <input type="text" id="CreditoInfonavit" class="form-control" maxlength="18" onkeypress="return numeros(event)" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Fonacot </label>
                                    <input type="text" id="Fonacot" class="form-control" maxlength="18" onkeypress="return numeros(event)" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Pensionado</label>
                                    <select class="form-control" id="Pensionado">
                                        <!--Catalogo banco-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--Termina datos patrimoniales-->
        <br />

        <!--Datos de baja-->
        <div id="datosBajaEmp" class="row text-center justify-content-center" hidden>
            <div class="col-md-11">
                <div class="panel panel-info">

                    <div class="row align-items-center" style="background-color: steelblue; border-radius: 5px; padding: 3px; font-size:20px;">
                        <div class="col-md-11" style="color: white">
                            Datos de la baja
                        </div>
                        <div class="col-md-1" style="color:white;">
                            <span data-bs-toggle="collapse" class="col-md-1" href="#collapse4" style="cursor: pointer;color: white; padding-right: 5px">&#9776;</span>
                        </div>
                    </div>

                    <div class="collapse panel-collapse in" id="collapse4">
                        <div class="panel-body">
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Fecha baja <strong style="color:red">*</strong></label>
                                    <input class="form-control " id="FBaja" type="text">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label for="inputsm">Fecha de firma de la baja <strong style="color:red">*</strong></label>
                                    <input class="form-control " id="FFirmaBaja" type="text">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Tipo de baja <strong style="color:red">*</strong></label>
                                    <select id="TipoBaja" class="form-control">
                                        <!--Select tipobaja-->
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Motivo de la baja <strong style="color:red">*</strong></label>
                                    <select id="MotivoBaja" class="form-control">
                                        <!--Select motivobaja-->
                                    </select>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-3 form-group">
                                    <label>Teléfono de contacto</label>
                                    <input type="text" id="TelefonoContacto" class="form-control" maxlength="10" />
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Observaciones:</label>
                                    <textarea id="Observaciones" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Termina datos de baja-->
        <br />
        <!--Botonoes-->
        <div class="row align-items-center justify-content-center">
            <div id="InsEmp" class="col-md-4">
                <button type="button" id="btn_InsEmp" class="btn btn-info" onclick="validarCamposEmp()"><i class="fas fa-plus-circle" style="color:#fff; padding-right: 8px"></i>Agregar</button>
                <button type="button" id="btn_Upd" style="display: none" class="btn btn-info far fa-edit" onclick="validarCamposEmpUpd()"> <i style="color:#fff; padding-right: 8px"></i>Actualizar</button>
            </div>
            <div id="cancelarEmp" class="col-md-4">
                <button type="button" class="btn btn-danger fas fa-times-circle" onclick="LimpiarCampos()"><i style="color:#dc3545; padding-right: 8px"></i>Cancelar</button>
            </div>
            <div id="bajaEmp" class="col-md-3" style="display:none">
                <button type="button" id="btn-baja" class="btn btn-warning " onclick="bajaEmp()"><i class="fas fa-user-minus" style="color:#000; padding-right: 8px"></i>Baja</button>
                <button type="button" id="btn-baja1" class="btn btn-warning" onclick="validarCamposBaja()" style="display: none"><i class="fas fa-user-minus" style="color:#000; padding-right: 8px"></i>Baja</button>
            </div>
        </div>
    </form>
</div>

<!--Modal para los hijos-->
<button type="button" id="btn_ModalHijos" hidden class="btn btn-primary" data-bs-toggle="modal" data-target="#ModalHijos">Open modal</button>

<div class="modal fade" id="ModalHijos">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ingresar las fechas de nacimiento de sus hijos</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="body_ModalHijos">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
<!--Termina Modal para los hijos-->

<script>
    $(function () {
        Session();
        cargarCampanias()
        cargarGeneros();
        cargarEstadosCiviles();
        cargarEstudios();
        cargarBancos();
        cargarSite();
        cargarPuesto();
        cargarTurnos();
        cargarEstatus();
        cargarFReclutamiento();
        cargarEmpleado();
        cargarSiNo();
        cargarRecluto();
        cargarDireccion();
        cargarDiagnosticos();
        cargarMotivoBajas();
        cargarTipoBaja();
        cargarDepartamento();
        LimpiarCamposEmp();
        document.getElementById('NumeroEmpleado').disabled = false;
        //LlenarCampos();
        //$('#FNacimiento').datepicker(dataCalendar);
        //$('#FIngreso').datepicker(dataCalendar);
        //$('#FBaja').datepicker(dataCalendar);
        //$('#FAltaIMSS').datepicker(dataCalendar);
        //$('#FInsercion').datepicker(dataCalendar);
        //$('#FFirmaBaja').datepicker(dataCalendar);
    })
</script>